@import "~bootstrap-select/dist/css/bootstrap-select.min.css";
//@import "~bootstrap/dist/css/bootstrap.min.css";

/* Bootstrap media queries */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
/* End Bootstrap media queries */

@import "normalize.css/normalize.css";
@import "/amicms/vendors/perfect-scrollbar/css/perfect-scrollbar.css";

@import "theme.min.css";



:root {
    --color-dark: #0D314F;
    --color-main: #D2131C;
    --color-light: #F8F8F9;
    --color-white: #FFF;
    --color-error: #FC610A;
    --color-gray: #D6D6D7;
    --color-dark-gray: #949495;

    --header-h: 72px;
}

b, strong {
    font-weight: 700;
}

img {
    max-width: 100%;
    vertical-align: top;
}

svg {
    vertical-align: top;
}

p {
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 20px;
}

a {
    cursor: pointer;
    cursor: hand;


    &:hover {
        color: var(--color-main);
        text-decoration: none;
    }

    &,
    &:focus {
        outline: none;
    }
}

.block {
    margin: 0 0 60px;

    &list {
        margin: 0 0 30px;
    }

    &-item {
        margin: 0 0 40px;
    }
}


.btn {
    max-width: 230px;
    width: 100%;
    padding: 13px 23px;
    font-size: 14px;
    line-height: 1;
    border-radius: 0;
    font-weight: 800;
    letter-spacing: 0.1em;
    color: var(--color-dark);
    border-width: 3px;
    margin: 0;
    cursor: pointer;
    outline: none;


    &.w-100 {
        max-width: unset;
    }

    &.w-auto {
        max-width: unset;
        width: auto;
    }

    //&:hover {
    //    background-color: var(--color-dark);
    //
    //    color: var(--color-white);
    //}

    &.focus,
    &:focus {
        outline: none;
        box-shadow: none;
    }

    .icon {
        fill: inherit;
    }

    &-default {
        background-color: var(--color-main);
        fill: var(--color-white);

        &:hover {
            background-color: var(--color-dark);
            color: var(--color-white);
        }
    }

    &-border_dark {
        border-color: var(--color-dark);
        color: var(--color-dark);
        background-color: transparent;

        &:hover {
            background-color: var(--color-dark);
            color: var(--color-white);
        }
    }

    &-border_main {
        border-color: var(--color-main);
        color: var(--color-main);
        background-color: transparent;

        &:hover {
            background-color: var(--color-main);
            color: var(--color-white);
        }
    }

    &-border_light {
        border-color: var(--color-white);
        color: var(--color-white);
        background-color: transparent;

        &:hover {
            background-color: var(--color-white);
            color: var(--color-dark);
        }
    }

    &.disabled,
    &:disabled {
        opacity: unset;
        background-color: var(--color-gray);
        color: var(--color-white);
        border-color: transparent;
        pointer-events: none;
    }

    &-border_dark,
    &-border_main,
    &-border_light {
        &.disabled,
        &:disabled {
            border-color: var(--color-gray);
            background-color: var(--color-white);
            color: var(--color-gray);
        }
    }

    &-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: var(--color-dark);

        &:hover {
            color: var(--color-main);
        }

        .icon {
            width: 20px;
            height: 20px;
        }

        .icon + span,
        span + .icon {
            margin-left: 10px;
        }
    }

    &-fill {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: var(--color-dark);

        .icon {
            width: 32px;
            height: 32px;
            padding: 6px;
            background: var(--color-main);
            fill: var(--color-white);
            transition: .15s ease-in-out;
        }

        .icon + span,
        span + .icon {
            margin-left: 20px;
        }

        &:hover {
            color: var(--color-main);

            span {
                text-decoration: underline;
            }
        }
    }

    &-delete {
        padding: 7px 0 7px 15px;
        display: inline-flex;
        align-items: center;
        width: auto;

        .icon {
            width: 32px;
            height: 32px;
            padding: 6px;
            background-color: var(--color-main);
            fill: var(--color-white);
            transition: .15s ease-in-out;
            margin-left: 10px;
        }
    }

    &-line {
        padding: 0;
        display: inline-flex;
        border: none;
        min-width: unset;
        width: auto;
        letter-spacing: 0.05em;
    }

    &-wrap {
        width: 100%;
        max-width: 255px;
        display: inline-block;
        vertical-align: top;

        &:focus {
            outline: none;
        }
    }
}



.side-nav.nav-menu-dark .nav-menu-item.active a, .side-nav.nav-menu-dark .nav-submenu-title.active a,
.side-nav.nav-menu-dark .nav-menu-item.active i, .side-nav.nav-menu-dark .nav-submenu-title.active i
{
    color:rgba(255,255,255,1)
}

.column-panel .columns-panel-item-link:hover, .column-panel .columns-panel-item-link.active , .column-access-panel .columns-panel-item-link:hover, .column-access-panel .columns-panel-item-link.active {
    color: #D2131C;
}

img.img-fluid {
    width: 176px;
    height: 176px;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}


.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}

.machine-categories .form-select {
    //background-image: none;
}

.bootstrap-select .form-select, .bootstrap-select .form-select:focus, .bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    border: 2px solid #ccdfea;
    appearance: none;
    border-radius: .375rem;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    outline: 0;
}


.bootstrap-select {
    width: 100%;
    //border: 1;

    .btn {
        //padding-top: 0;
        //padding-bottom: 0;
        max-width: 100%;
    }
}



.bootstrap-select .dropdown-toggle {
    width: 260px;
    min-width: 100%;

}

.machine-categories .bootstrap-select .dropdown-menu.show {
    transform: unset;
    top: 0px;
}





